* {
  box-sizing: border-box;
}

#registerTable{
	overflow:auto;
	display:inline-block;
}

.footer{
height : 300px;	
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#form-msg{
	text-align: center;
}
.form-error{
	color:red;
}

.form-success{
	color:green;
}

input[type=submit], a {
  width: 100%;
  background-color: #9d0000;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #dd0000;
}

.centered{
	margin-left: auto;
    margin-right: auto;
    padding : 15px;
    width: 45%;
    overflow: auto;
}

body{
	margin:auto;
}

#pageTitle{
	color: white;
	text-align: center;
	font-size:45px;
	margin: 5px
}
#senslistcont{
	height : 250px;
	overflow : auto;
	display:inline-block;
}

tr:first-child{
	background-color: #f3f3f3;	
}

table td{
	padding: 0px 5px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #c6cfd6;
    font-size: 14px;
	min-width: 10em;
	
}

table{
	border-collapse:collapse;
}

#senslistcont tr:nth-child(2){
	background-color: #e4f223;	
}

.indiContainer{
	width:80%;
	display:inline-block;
}

.ReadyContainer{
	float:left;
}

.ReadContainer{
	float:right;
}

#RI{
	width:40px;
	height:40px;
}

#RR{
	width:40px;
	height:40px;
}

.nav-container{
	height : 7%;
	background-color : black;
	width: 100%;
}
	
.nav-element:link, .nav-element:visited {
	float: left;
    background-color: #9d0000;
    border: none;
    color: #FFFFFF;
    padding: 15px 32px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
	font-size: 16px;
	cursor: pointer;
	display: inline-block;
	width:25%;
	width: 33.3%;
	border: 1px solid #c6cfd6;
}

.nav-element:hover, .nav-element:active {
   background-color: #dd0000;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
}

/* Clear floats after the columns */
.container:after {
  content: "";
  display: table;
  clear: both;
}

.competitors-table-container{
	width:100%;
	display: inline-block;
	padding: 10px;
	text-align:center;
}

button {
  background-color: #9d0000; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin : 2px;
}
button:hover{
	background-color: #dd0000;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
