* {
  box-sizing: border-box;
}
body{
	margin:auto;
}
#topcontainer{
	margin-left: auto;
    margin-right: auto;
    width: 35%;
}

.centered{
	margin-left: auto;
    margin-right: auto;
    padding-top : 25px;
    width: 65%;
}

tr:first-child{
	background-color: #f3f3f3;	
}

table td{
	padding: 0px 5px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #c6cfd6;
    font-size: 14px;
	min-width: 10em;
	
}

table{
	border-collapse:collapse;
}

#ert{
	margin :100px;
}
#LogoImg {
	margin : 15px;
 	width: 100%;
 	max-width : 600px;
 	height: auto;
}

.nav-container{
	height : 100px;
	background-color : black;
	width: 100%;
}
	
.nav-element:link, .nav-element:visited {
	float: left;
    background-color: #9d0000;
    border: none;
    color: #FFFFFF;
    padding: 15px 5%; 
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
	font-size: 16px;
	cursor: pointer;
	display: inline-block;
	width:25%;
	border: 1px solid #c6cfd6;
	white-space: nowrap;
}

.nav-element:hover, .nav-element:active {
   background-color: #dd0000;
}
@media screen and (max-width: 980px) {
  .centered {
    width: 100%;
  }
}

